*{
	margin:0;
	padding:0;
}

#container {
	background:#046e8f;
	width:auto;
	height:auto/*1000px*/;
	/*margin-left:auto;
	margin-right:auto;*/
}
/*header style working don't change*/
#header{
	height:auto; /*100px;*/
	background:#e4d9ff;
	
    font-family:georgian;
	text-align:left;
	
	}
.header_nav li{
	/*works for the header nav but not footer*/
	display: inline-block;
	padding:20px 10px 10px 10px;
}
.header_nav li a {
	transitions: all 0.4s ease 0s;
	font-size:15px;
}
.header_nav li a:hover {
	color: red;
}
.search1 {
	height: 20px;
	margin-left: 550px;
	padding: 10px;
	border: none;
	border-radius: 25px;
	outline: none;
}
.search-btn	{
	height: 30px;
	width: 150px;
	background: #046e8f;
	border: none;
	color: #ffffff;
	border-radius: 25px;
	outline: none;
}
.search-btn:hover {
	background: #1e2749;
	cursor: pointer;
}	
/*Title style*/	
#title {
	height:auto;
	background: #1e2749;
	color: #ffffff;
    font-family: georgian;
	text-align: center;
	padding:5px 5px 5px 5px;
	}
		#title h1{
		animation: textanimation 1.5s ease-in-out;
		
	}
	@keyframes textanimation{
		0%{
		letter-spacing:40px;
	}
		100%{
			letter-spacing: 10px;
		}
	}
	
	/*content contains immage and nav button*/
#content {
	height:auto;
	width: 100%;
	background: #046e8f;
	color: #ffffff;
    font-family: georgian;
	#display: flex;
	#flex-flow: row wrap;
	#float:right;
	}
	
.grid-container{
	display:grid;
	grid-template-columns: auto auto auto;
	background-color: #046e8f;
	padding: 40px;
		
	}
.item {
	#background-color: red;
	text-align: center;
}	
/*#about_content {
	height:auto;
	width: 60%;
	background: #e4d9ff;	
    font-family: georgian;
	#display: flex;
	flex-flow: row wrap;
	margin-left: 20%;
	padding-left: 20px;
	}
	#grid {
	height:auto;
	width: 100%;
	#background: #e4d9ff;	
    font-family: georgian;
	#display: flex;
	flex-flow: row wrap;
	margin-left: 0%;
	padding-left: 0px;
	}*/
	img {
		margin: 10px;
		width: 75%;
		height: 50%;
	}
img:hover{
	opacity: 0.5
}


	

#navbar {
	height:715px;
	width:40%;
	background: #046e8f;
	color: #ffffff;
    font-family: georgian;
	display: flex;
	/*flex-flow: column;*/
	float:left;
	}
 
.nav_bar li{
	border-style: double;
	border-color: black;
	margin-top: auto;
	margin-left: 125px;
						
	
}	
	
#buttons {
	height:auto;
	width:60%;
	background: black;
	color: #ffffff;
    font-family: georgian;
	display: flex;
	flex-flow: row;
	float:right;
	
	}
.button_nav li{
	display : inline-block;
	padding:10px 5px 10px 10px;
	
}		
	
#footer {
	background: #1e2749;
	clear: both;
	/*height:50px;*/
	color: #ffffff;
    font-family:georgian;
	text-align:left;
	}
.footer_nav li{
	display: inline-block;
	padding:20px 20px 20px 20px;
	
	/*flex-flow: row;*/
}
.footer_nav li a{
	
	color:#ffffff; 
	font-size: 18px;
}
.footer_nav li a:hover {
	color: red;
	text-align: center;
}
/* header and footer immage size*/
.material-icons i {
	font-size:40px;
}
 h1 { 
    font-family: verdana;
	font-size: 20px;
	color: #ffffff;	
    }
 h2 {
	 font-family: verdana;
	font-size: 20px;
	text-align: center;
    }
 h3 {
	font-family: verdana;
	font-size: 14px;
	text-align: center;
	
	}
 a  {
	 
	 color: black;
	 font-size: 16px;
	 font-weight: bold;
	 text-decoration: none;
	 
    }
 
p { 
   font-size: 8px;
   #color: #ffffff;
  }
 li,a { 
	font-family: verdana;
 }

.nav_bar {
display : inline-block;
	padding:10px 10px;
}
.footer_nav li{
	display: inline-block;
	padding:0px;
	color:#ffffff;
	/*flex-flow: row;*/
}
/* header and footer immage size*/
.material-icons {
	font-size:30px;
}
.item a:hover {
	color: red;
	text-decoration:none;
}	
